/* _content/HotelReservation.Core/Component1.razor.rz.scp.css */
.my-component[b-tq5r97eynd] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
